<%- include('header', {title: 'Details' }) %>
<html>

<body>

  <%# for( let result of results ) { %>
  <%# result.id %>
  <%# result.username %>
  <%# result.email %>
  <%# } %>
  <h5 class="px-4 font-semibold">Total users: <%= results.length %></h5>
  <table border="1">
    <thead>
      <td>Id</td>
      <td>Username</td>
      <td>Email</td>
      <td>Delete</td>
    </thead>
    <% for( let result of results ) { %>
    <tbody>
      <%# result.id %>
      <%# result.username %>
      <%# result.email %>

      <td class="font-semibold text-sm">
        <a href="/user/<%= result.id %>">
          <%= result.id %>
        </a>
      </td>
      <td>
        <%= result.username %>
      </td>
      <td>
        <%= result.email %>
      </td>
      <td>
        <form class="flex flex-col align-middle justify-center" action="/user/<%= result.id %>?_method=DELETE" method="post">
          <button class="ri-delete-bin-5-line text-lg border-none"></>
        </form>
      </td>
    </tbody>
    <% } %>
  </table>
</body>

</html>