<%- include('../layouts/nav', {title: 'All listings'}) %>
<html>
  <body>
    <%- include('../layouts/filter') %>
    <h2 class="w-full py-4 mx-auto text-2xl text-center">All Listings</h2>
    <section
      class="flex flex-wrap p-4 text-gray-300 justify-center mx-auto gap-4"
    >
      <% for( let list of listings ) { %> <% const {_id, title, price, image} =
      list %>
      <div class="w-4/5 border rounded cardd md:w-1/3 lg:w-1/4">
        <div class="opacity-100 upper hover:opacity-75">
          <a href="/listings/<%= _id %>"
            ><img
              class="rounded-t cover aspect-video"
              src="<%= image.url %>"
              alt="<%= image.filename %>"
              srcset=""
          /></a>
        </div>
        <div class="px-3 py-4 bottom">
          <p class="text-xl font-semibold md:text-base"><%= title %></p>
          <p class="md:text-sm">₹<%= price.toLocaleString('en-IN') %>/night</p>
        </div>
      </div>
      <% } %>
    </section>
    <%- include('../layouts/footer') %>
  </body>
</html>
