<%- include('../layouts/header', {title: listing.title + ' listings'}) %>
<html>

<body>
  <% const {_id: id, title, description, image, price, location, country} = listing %>

  <h2 class="w-full text-2xl text-center mx-auto py-4">Listings Details</h2>

  <div class="cardd w-2/3 h-auto md:w-1/2 border rounded mx-auto">
    <div class="upper">
      <img class="rounded-t aspect-[18/9] w-full" src="<%= image %>" alt="" srcset="" />
    </div>
    <div class="bottom px-3 py-4">
      <p class="text-xl md:text-base font-semibold"><%= title %></p>
      <p class="text-base md:text-sm"><%= description %></p>
      <p class="md:text-sm">₹<%= price.toLocaleString('en-IN') %>/night</p>
      <p class="md:text-sm"><%= location %>, <%= country %></p>
    </div>

    <div class="btns flex gap-4 px-3">
      <a class="h-0" href="/listings/<%= id %>/edit" method="get">
        <button class="w-fit text-white bg-red-700 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg md:text-sm">Edit</button>
      </a>

      <form class="" action="/listings/<%= id %>?_method=DELETE" method="post">
        <button class="w-fit text-white bg-black border-0 py-2 px-8 focus:outline-none hover:bg-gray-900 rounded text-lg md:text-sm">Delete</button>
      </form>
    </div>

  </div>

  <%- include('../layouts/footer') %>
</body>

</html>